@import "./variables";

// Transitions
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// Layouts
@mixin layout($variant: "sidebar") {
  @if $variant == "full" {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
  }
  @if $variant == "sidebar" {
    padding: 0 3rem;
    width: 100%;
    max-width: $layout-max-width;
  }
}
