@import "./variables";

html {
  font-size: 10px;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: $text-regular;
  font-weight: $text-weight-regular;
  line-height: 1.3;
  color: $color-full;
}
::-moz-selection {
  background-color: $color-full;
  color: $color-absence;
}
::selection {
  background-color: $color-full;
  color: $color-absence;
}
