// Colors
$color-primary: var(--color-primary);
$color-alternative: var(--color-alternative);
$color-secondary: var(--color-secondary);
$color-divider: var(--color-divider);
$color-absence: var(--color-absence);
$color-lighter: var(--color-lighter);
$color-dark-lighter: var(--color-dark-lighter);
$color-full: var(--color-full);
$color-error: var(--color-error);
$color-success: var(--color-success);
$colors-map: (
  "primary": $color-primary,
  "alternative": $color-alternative,
  "secondary": $color-secondary,
  "divider": $color-divider,
  "absence": $color-absence,
  "lighter": $color-lighter,
  "dark-lighter": $color-dark-lighter,
  "full": $color-full,
);

// Text Sizes
$text-smaller: 1.1rem;
$text-small: 1.2rem;
$text-regular: 1.4rem;
$text-big: 1.6rem;
$text-bigger: 1.8rem;
$text-subtitle: 2.1rem;
$text-title: 2.4rem;
$sizes-map: (
  "smaller": $text-smaller,
  "small": $text-small,
  "regular": $text-regular,
  "big": $text-big,
  "bigger": $text-bigger,
  "subtitle": $text-subtitle,
  "title": $text-title,
);

// Text Weight
$text-weight-regular: 500;
$text-weight-bold: 800;
$weights-map: (
  "regular": $text-weight-regular,
  "bold": $text-weight-bold,
);

// Layouts
$layout-max-width: 120rem;

// Global Border Radius
$border-radius: 0.7rem;

// Misc
$sides: top right bottom left;
