@import "../../assets/scss/mixins";

.layout {
  @include layout();
  display: flex;
  align-items: flex-start;
}

.aside {
  flex: 0 0 26rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 3rem;
}

.content {
  flex: 1 1 auto;
  padding: 3rem 0 0 4rem;
}
