@import "../../assets/scss/mixins";

.profile-image {
  border-radius: 50%;
  padding: 0.6rem;
  width: 12rem;
  height: 12rem;
  background-color: $color-divider;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}
