@import "./assets/scss/variables";

// Utilities: Margins
@each $side in $sides {
  @for $i from 1 through 10 {
    .m#{str-slice($side, 1, 1)}-#{$i} {
      margin-#{$side}: 1rem * $i;
    }
  }
}

// CSS Variables
:root {
  --color-primary: #ff3300;
  --color-alternative: #3366cc;
  --color-secondary: #999;
  --color-divider: #dedede;
  --color-absence: #fff;
  --color-lighter: #f4f4f4;
  --color-dark-lighter: #454545;
  --color-full: #000;
  --color-error: #ff3300;
  --color-success: limegreen;
}

// Override CSS Variables for Global Dark Theme Mode is ON
[data-theme-mode="dark"] {
  --color-primary: #ff3300;
  --color-alternative: #3366cc;
  --color-secondary: #999;
  --color-divider: #454545;
  --color-absence: #000;
  --color-lighter: #222;
  --color-dark-lighter: #dedede;
  --color-full: #fff;
  --color-error: #ff3300;
  --color-success: limegreen;
}

body {
  background-color: $color-lighter;
}
